body {
  background-color: rgb(228, 215, 183);
  transition: opacity 1s;
  margin: 0;
  padding: 0;
}
#main-svg {
  background-image: url("../imgs/Gaza01.PNG");
  background-size: cover;
  background-repeat: no-repeat;
}

.all-circles circle {
  fill: green;
  stroke: red;
  stroke-width: 1;
  r: 8;
  transition: 0.6s;
}
.all-circles circle:hover {
  stroke: red;
  stroke-width: 5;
  cursor: pointer;
}

.all-lines line {
  stroke: green;
  stroke-width: 4;
  transition: 1s;
  cursor: pointer;
}

.all-lines line:hover {
  stroke: red;
}

rect {
  fill: rgb(228, 215, 183);
}

.rect-lines line {
  stroke-width: 5;
  transition: 0.5s;
}
.rect-lines line:hover {
  stroke-width: 12;
}

.rect .shape {
  fill: rgb(105, 155, 105);
  stroke: red;
  stroke-width: 1;
}

.rect_02 .shape {
  fill: rgb(180, 190, 180);
  stroke: red;
  stroke-width: 1;
}

.Truns_01 {
  transition: 2s;
  transform: scale(4, 4) rotate(20deg);
  opacity: 0;
}

.Truns_02 {
  transition: 2s;
  transform: scale(0, 0);
  opacity: 0;
}

/* ================================================= */
